<table class="table applications-list">
  <thead>
    <tr>
      <th>Location</th>
      <th>Vacancy</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Comment</th>
      <th>Date</th>
      <th>CV</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let application of applications">
        <td>{{application.locationName}}</td>
        <td><a *ngIf="application.vacancyId" [routerLink]="['/vacancies/', application.vacancyId]">{{application.vacancyName}}</a></td>
        <td>{{application.email}}</td>
        <td>{{application.firstName}}</td>
        <td>{{application.lastName}}</td>
        <td>{{application.comment}}</td>
        <td>{{application.date | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td><a href="admin/api/applications/{{application.id}}/cv">{{application.fileName}}</a></td>
    </tr>
  </tbody>
</table>
