.header__logo {
  display: flex;
  position: relative;
  z-index: 11;

  width: 5rem;
  height: 3rem;
  margin: 2rem 0;

  text-indent: -9999rem;

  background-image: url('../images/logo-white.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: 1023px) {
    margin: .5rem 0;
  }
}

.header--fixed .header__logo {
  margin: .5rem 0;
}
