.section__numbers {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;

  .title {
    display: block;
    min-width: 24rem;
    max-width: 100%;

    @media screen and (max-width: 1023px) {
      min-width: 0;
    }
  }

  .section__numbers-list {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: 1023px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .section__numbers-item {
    display: block;
    position: relative;
    max-width: 15rem;
    padding: 0 .5rem;
    text-align: center;

    .icon {
      display: block;

      padding: .5rem 0;
      font-size: 4.5rem;
      font-weight: 400;
      color: $color-primary;

      @media screen and (max-width: 767px) {
        font-size: 3rem;
        min-width: 4rem;
      }
    }

    .section__numbers-item-number {
      display: block;

      font-size: 4.5rem;
      font-weight: 400;
      font-family: $font-numbers;
      color: $color-primary;

      @media screen and (max-width: 767px) {
        min-width: 6rem;
        text-align: center;
      }
    }

    .section__numbers-item-strong {
      display: block;

      padding: .5rem 0;
      font-size: 2rem;
      font-weight: 500;
      font-family: $font-numbers;
    }

    .section__numbers-item-row {
      @media screen and (max-width: 767px) {
        padding-left: 2rem;
      }
    }

    @media screen and (max-width: 1023px) {
      padding: 1rem .5rem;
      width: calc(100% / 3);
    }

    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;

      width: 100%;
      max-width: 100%;
      padding: .5rem 0;
      text-align: left;
    }
  }

  @media screen and (max-width: 1023px) {
    flex-direction: column;
  }
}
