.section__portals {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 1rem;

  .text {
    max-width: 20rem;
    margin: 0;

    font-weight: 400;

    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 100%;
      text-align: center;
    }
  }

  .section__portals-link {
    display: block;
    width: 10rem;
    height: 5rem;
    margin: 0 1rem;

    text-indent: -9999em;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &.section__portals-link--hh {
      background-image: url('../images/hh-logo.png');
    }

    &.section__portals-link--moikrug {
      background-image: url('../images/moikrug-logo.png');
    }

    @media screen and (max-width: 767px) {
      width: 8rem;
      height: 4rem;
      margin-top: 1rem;
    }
  }

  @media screen and (max-width: 1023px) {
    margin-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}
