.photos-list .img-thumbnail {
  max-width: 100px;
  max-height: 75px;
}

.photos-list .img-thumbnail:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px 0 #ccc;
}

.photos-list .actions,
.photos-list .actions {
  text-align: right;
}

.photos-list tr>td {
  vertical-align: middle;
}

.photos-list .hidden-photo {
  opacity: .5;
}

.photos-list-multiple-file-chooser {
  margin: 8px;
}

.lightbox {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sorting-area {
  display: inline-block;
  color: grey;
  text-align: center;
  padding: 1.7em 2em;
  border: dashed 1px silver;
  background: #fefefe;
}

.sorting-area:hover {
  cursor: move;
}

.photos-list.sorting-process {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: move;
}

