<div [ngClass]="{'file-chooser': true, 'file-chooser-multiple': multiple}">
  <input class="file-chooser-file" type="file" name="file" [multiple]="multiple" (change)="onChange($event.target.files)" />
  <span class="file-chooser-text">Drag & drop your files here...</span>
  <span class="file-chooser-button file-chooser-button-insert"></span>
  <span class="file-chooser-button file-chooser-button-cancel"></span>
</div>
