@mixin plot-animate {
  [data-plot="path-main"] {
    animation: dash 2.5s linear forwards;
    animation-iteration-count: 1;
  }

  [data-plot="path-year"] {
    animation: dash .375s ease-in forwards;
    animation-iteration-count: 1;
  }

  @for $i from 1 through 14 {
    [data-plot="path-year"]:nth-child(#{$i}) {
      animation-delay: #{(0.1785*$i)}s;
    }
  }
}

.plot {
  [data-plot^="label-"] {
    opacity: 0;
    transition: opacity .5s;
  }

  [data-plot^="circle-"] {
    opacity: 0;
    transition: opacity .2s ease-in;

    &:hover {
      opacity: 1;
    }
  }

  [data-plot="path-main"] {
    stroke-dasharray: 1368;
    stroke-dashoffset: 1368;
  }

  [data-plot="path-year"] {
    &:nth-child(1) {
      stroke-dasharray: 28;
      stroke-dashoffset: 28;
    }
    &:nth-child(2) {
      stroke-dasharray: 54;
      stroke-dashoffset: 54;
    }
    &:nth-child(3) {
      stroke-dasharray: 122;
      stroke-dashoffset: 122;
    }
    &:nth-child(4) {
      stroke-dasharray: 152;
      stroke-dashoffset: 152;
    }
    &:nth-child(5) {
      stroke-dasharray: 164;
      stroke-dashoffset: 164;
    }
    &:nth-child(6) {
      stroke-dasharray: 196;
      stroke-dashoffset: 196;
    }
    &:nth-child(7) {
      stroke-dasharray: 212;
      stroke-dashoffset: 212;
    }
    &:nth-child(8) {
      stroke-dasharray: 260;
      stroke-dashoffset: 260;
    }
    &:nth-child(9) {
      stroke-dasharray: 300;
      stroke-dashoffset: 300;
    }
    &:nth-child(10) {
      stroke-dasharray: 306;
      stroke-dashoffset: 306;
    }
    &:nth-child(11) {
      stroke-dasharray: 322;
      stroke-dashoffset: 322;
    }
    &:nth-child(12) {
      stroke-dasharray: 344;
      stroke-dashoffset: 344;
    }
    &:nth-child(13) {
      stroke-dasharray: 380;
      stroke-dashoffset: 380;
    }
    &:nth-child(14) {
      stroke-dasharray: 432;
      stroke-dashoffset: 432;
    }
  }

  &.plot--animate {
    @include plot-animate;
  }

  @media screen and (max-width: 1023px) {
    @include plot-animate;
  }

  @supports (-ms-ime-align:auto) {
    [data-plot^="path-"] {
      stroke-dashoffset: 0 !important;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    [data-plot^="path-"] {
      stroke-dashoffset: 0 !important;
    }
  }
}
