.title {
  display: block;
  position: relative;

  line-height: 1.25;
  font-size: 2.5rem;
  font-weight: 300;

  &.title--promo {
    display: flex;
    flex-direction: column;
    z-index: 3;

    max-width: 70%;
    font-size: 4.5rem;
    color: white;

    .text {
      display: block;

      margin-top: 1rem;
      font-size: 1.875rem;

      @media screen and (max-width: 767px) {
        font-size: 1.75rem;
      }

      @media screen and (max-width: 479px) {
        font-size: 1.5rem;
      }
    }

    @media screen and (max-width: 1599px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 1023px) {
      max-width: 100%;
      line-height: 1.4;
    }

    @media screen and (max-width: 767px) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 479px) {
    font-size: 2rem;
  }
}
